tool:
  tmux:
    defaults:
      tpm: false

  users:
    user:
      xdg: true      # force xdg dirs
      # sync this user's config from a dotfiles repo available as
      # salt://dotconfig/<user>/tmux or salt://dotconfig/tmux
      dotconfig: true
      # persist tmux env vars to use xdg dirs permanently
      # (will be appended to file relative to $HOME)
      persistenv: '.config/zsh/zshenv'
      tmux:
        tpm: false  # installs Tmux Plugin Manager
